/* Font Definition*/
@font-face {
  font-family: msdos;
  src: url(fonts/DOS.ttf);
}
* {
  font-family: msdos;
}
.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
  .img-container > div {
      background-color: black;
      overflow: hidden;
      font-size: 1em;
      padding-left: 10px;
      padding-right: 10px;
  }

/* Scrolling Banner */
.scrolling-centered{
  width:100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: center;
  min-width: 100%;
}
.scrollinglogobox {
  border: 1px solid #2f4d0c;
  height: 128px;
  overflow: hidden;
  position: relative;
}
.scrolling {
  position: absolute;
  height: 128px;
  animation: moveSlideshow 10s linear infinite;
}
@keyframes moveSlideshow {
  100% {
      transform: translateX(-66.6666%);
  }
}
.scrollingslower {
  position: absolute;
  height: 128px;
  animation: moveSlideshow 90s linear infinite;
}
@keyframes moveSlideshow {
  100% {
      transform: translateX(-66.6666%);
  }
}
.scrolling-even-slower {
  position: absolute;
  height: 128px;
  animation: moveSlideshow 10s linear infinite;
}
@keyframes moveSlideshow {
  100% {
      transform: translateX(-66.6666%);
  }
}
.scrolling-even_slower {
  position: absolute;
  height: 128px;
  animation: moveSlideshows 20s linear infinite;
}
@keyframes moveSlideshows {
  100% {
      transform: translateX(-66.6666%);
  }
}

.typewriter h1 {
   
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 10 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 0.8em;
  animation: typing 5.5s steps(40, end), blink-caret .75s step-end infinite;

}
.blinking-cursor {
  font-weight: 10;
  font-size: 0.8em;
  color: #789922;
  padding-left: 1em;
  padding-bottom: 3em;
  animation: 4s blink step-end infinite;
}
@keyframes
"blink" {
  from, to
  color: transparent;
  50% color: #789922;
}
@-webkit-keyframes
"blink" {
  from, to
  color: transparent;
  50% color: #789922;
}
blinking {
}
.a1, .a2 {
  animation: blinking 2.0s infinite;
  color: red;
}
@keyframes blinking {



  50% {
      opacity: 0;
      color: red;
  }


}
.flex-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  //background-color: black;
  padding: 10px;
  flex-direction: row;
}

.flex-container-item {
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  font-size: 30px;
}

.flex-container-chan{
  display: grid;
  grid-template-columns: auto 60%;
  gap: 10px;
  //background-color: rgba(0, 0, 0, 0.111);
  padding: 10px;
  margin: 0em 0.5em 0em;
  flex-direction: row;
}
.flex-container-chan-item{
  overflow: hidden;
  font-size: 1em;
  text-align: left;
}


.flex-container-warning {
  display: grid;
  grid-template-columns: auto 300px;
  gap: 10px;
  background-color: black;
  padding: 10px;
  text-align: left;
  //max-width: 400px;
  flex-direction: row;
  //border-style: solid;
 // border-color: yellow;
  //border-width: 10px;
  //border-image-source: url("img/border-warning.png");
  //border-image-width: 64px;
  //border-image-slice: 64;
  //border-image-repeat: repeat;
  //-webkit-animation: glowing_yellow 1500ms infinite;
 // -moz-animation: glowing_yellow 1500ms infinite;
  //-o-animation: glowing_yellow 1500ms infinite;
  //animation: glowing_yellow 1500ms infinite;
}
.flex-container-warning-item {
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.flex-footer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  //background-color: black;
  padding: 0.5em;
  flex-direction: row;
}
.flex-footer-item {
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  padding: 20px 0;
}
.textcrawl {
  padding: 1em;
  color: #789922;
}
body {
  font: 0.4em;
  font-family: "msdos";
  max-width: 55em;
  margin: auto;
  background: url("img/tile.png");
  background-attachment: fixed;
  //background-size: contain;
  background-repeat: repeat;
}
.body-grid {
  width:100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: center;
  min-width: 100%;
}


img {
//display: block;
//margin: auto;
//max-width: 20em;
//border: 1px solid #777;
}
img:hover {
//border: 1px solid purple;
}



.inset {
  margin: auto;
  border: 8px;
  background-color: #a5bfff;
  border-style: inset solid solid inset;
  border-color: #819de0 #819de0 #819de0 #819de0;
  text-align: center;
  padding: 20px 0px 20px;
  max-width: 43em;
}
.outset {
  padding-top: 10px;
  background-color: #819de0;
  border: 8px;
  border-style: solid solid solid solid; /* Top, Right, Bottom, Left */
  border-color: #a5beff #4b5a83 #4b5a83 #8ea6e3;
  margin: 1.1em auto 20px; /* top right/left bottom*/
  margin-bottom: 20px;
  max-width: 43em;
  padding: 0px 15px 0px;
  color: white;
}


/* Notes Page */

.img-box {
  border-image: url(img/banner-gold);
  background-color: black;
  margin: 25px 25px 0px;
  padding: 1em 1em 1em;
  max-height: 15em;
}

.img-flex {
  display: grid;
  grid-template-columns: 185px 185px 185px;
  gap: 10px;
  grid-auto-flow: column;
}
.img-flex-item {
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


/* Main Box */
.m_box {
  border: 1px solid #2f4d0c;
  margin-top: 0em 1em 1em;
  background: #a5bfff;
  text-align: left;
  padding-bottom: 25px;
}
.m_box_bar {
  text-align: left;
  margin-bottom: 0px;
  padding: 10px;
  min-height: 20px;
  background: #819de0;
  color: white;
}
.m_box_chan {
  border: 1px solid #2f4d0c;
  margin: auto auto 25px;
  background-color: #d6daee;
  border: solid 5px;
  border-color: #b7bbd0 #9ea1b3 #87899a #b7bbd0; /* red top, green right, blue bottom and yellow left */
  min-height: 17em;
  width: 45.45;
  //min-width: 45.45em;
  max-width: 45.45em;
}
.footer {
  border: 1px solid #2f4d0c;
  margin: 0em auto 0.5em;
  background: #a5bfff;
  text-align: center;
  padding: 10px 20px 20px;
}
.m_box_bar_chan {
  text-align: left;
  padding: 10px;
  background: #d6daee;
  color: white;
}



/* Old and possibly outdated*/
